// form styles


input[type="text"],
input[type="password"],
input[type="email"] {
	background:#fff;
	border:1px solid #c4c4c4;
	margin:0;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:2%;
	width:96%;
} 

select {
	margin:0;
	width:100%;
}

.field .field-label {
	font-weight:normal;
}

div.addressfield-container-inline > div.form-item,
.form-item,
.form-actions {
	margin:0 0 15px;
}

.form-item {
	position:relative;
}

label,
.views-label {
	font-family:$fontBook;
	font-size:14px;
	line-height:20px;
	margin-bottom:5px;
	text-transform:uppercase;
}

.form-submit {
	@extend .btnSubmit;
	&.checkout-cancel {
		clear:both;
		float:none;
		-webkit-border-radius:0;
		border-radius:0;
		//border-left:1px solid #d1d1d1;
		margin-left:10px;
		padding-left:10px;
	}
}




// hide the 'or' text
.checkout-buttons .button-operator {
	display:none;
}

.checkout-buttons {
	#edit-continue,
	#edit-cancel,
	#edit-back {
		clear:both;
		display:block;
		margin:0 auto;
//		float:right;
	}
}

#edit-continue:after {
	content:'';
	clear:both;
	display:block;
}

.messages.status {
	background:$colorBlock;
	border:1px solid #d1d1d1;
	margin:0 auto 20px;
	max-width:1200px;
	width:90%;
	a {
		color:#0f93ef;
		font-family:$fontMed;
		text-decoration:none;
		&:hover {
			text-decoration:underline;
		}
	}
}




/* 
* shopping cart pages
*/

.cart_contents_form {
	
	.views-form {
		display:table;
		margin-bottom:20px;
		width:96%;
	}

	.views-table {
		float:left;
		width:100%;
	}

	.form-actions {
		display:table-cell;
		vertical-align:middle;
		width:25%;
		.form-submit {
			float:right;
			margin-top:20px;
		}
	}
}

/*
* cart views 
*/ 

#block-commerce-checkout-progress-indication {
	//border-bottom:1px solid #cbcbcb;
	//margin-bottom:20px;
	//padding-bottom:15px;
}


.views-table .views-field-nothing,
.page-checkout #contentWrapper {
	a {
		color:#333;
		font-size:18px;
		line-height:24px;
		text-decoration:none;
	}

	.cart_contents legend {
		display:none; // ?
	}
}























/* cart page */

.view-id-commerce_cart_form.view-display-id-default {

	.views-table {
		float:left;
		width:65%;
	}

	.line-item-summary,
	.form-actions {
		clear:right;
		float:right;
		width:30%;
	}

	&:after {
		@extend .clear;
	}

	.line-item-total-raw {
		@extend .themePrice;
	}

	.field-name-field-image {
		margin-bottom:10px;
	}
}

.views-table {

	background:$colorBlock;
	padding:20px 0;
	th,
	td {
		padding:1% 2%;
	}
	
	th {
		padding-top:20px;
	}	

	td {
		padding-bottom:20px;
	}

	th {
		font-family:$fontMed;
	}

	input[type="text"] {
		padding-left:2%;
		width:73%;
	}

}
































/* cart summary */

// checkout progress

ol.inline.commerce-checkout-progress li {
	margin-left:20px;
	width:auto;

	&.active {
		color:#1a8ae3;
	}

	&:first-child {
		margin-left:0;
	}
}

#edit-cart-contents  {
	border-bottom:1px solid #cbcbcb;
	margin-bottom:20px;
	padding-right:2%;
	padding-bottom:15px;

	.fieldset-wrapper {
		margin:0;
		max-width:100%;
		padding:10px 0;
	}

	.views-table {
		background:none;
		width:90%;
	}
}





















.view-id-commerce_cart_summary {



	// cart header
	&.view-display-id-default {

		&:after {
			@extend .clear;
		}

		.view-content {
			float:left;
			width:80%;
		}

		.view-footer {
			position:absolute;
			right:0;
			top:50%;
			width:150px;
		}

		.views-field {

			&.views-field-nothing {
				width:50%;
			}
		}

		.commerce-order-handler-area-order-total .commerce-price-formatted-components {
			width:100%;
			.component-title {
				display:none;
			}
			.component-total {
				@extend .themePrice;
			}
		}
	}













	// sidebar block
	&.view-display-id-block_1 {

		.views-row {
			margin-bottom:20px;
		}

		.views-label,
		.field-content {
			font-size:15px;
			line-height:26px;
		}

		.views-label {
			font-family:$fontMed;
			float:left;
			text-transform:none;
		}

		.field-content {
			font-family:$fontReg;
			float:right;
		}

		.views-field {
			@extend .clear;
			margin-bottom:5px;
		}

		.views-field-line-item-title .field-content {
			float:none;
			margin-bottom:10px;
			a {
				font-family:$fontMed;
			}
		}

		.views-field-uid {
			border-bottom:1px solid #eaeaea;
			margin-bottom:20px;
			padding-bottom:5px;

			.views-label,
			.field-content {
				display:block;
				float:none;
				padding-left:40px;
			}
			.views-label {
				font:normal 12px/13px $fontBook;
				margin-bottom:0;
			}

			.field-content a {
				font:normal 13px/13px $fontMed !important;
			}
		}

		.views-field-commerce-order-total .field-content {
			@extend .themePrice;
			font-size:15px;
			line-height:26px;
		}

		.views-field-commerce-order-total {
			.views-label,
			.field-content {
				float:none;
			}

			.views-label {
				display:none;
				margin-bottom:10px;
			}

			table {
				width:100%;
				td {
					padding-bottom:8px;
					&.component-total {
						font-family:$fontBook;
					}
				}
			}
		}
	}
}


























/* checkout form */

#commerce-checkout-form-checkout {

	legend {
		clear:both;
		display:block;
		font-size:18px;
		line-height:20px;
		font-weight:bold;
		margin-bottom:30px;
		width:100%;
	}

}

.customer_profile_billing,
.customer_profile_shipping,
#edit-commerce-payment {
	> legend {
		height:30px;
		line-height:30px;
		padding-left:40px;
	}
}

.customer_profile_shipping > legend {
	background:url('../images/iconStep2.png') 0 0 no-repeat;	
}

#edit-commerce-payment > legend {
	background:url('../images/iconStep3.png') 0 0 no-repeat;
}

#edit-customer-profile-billing > legend {
	background:url('../images/iconStep1.png') 0 0 no-repeat;	
}

//#edit-customer-profile-billing,
.customer_profile_billing,
.customer_profile_shipping,
#edit-commerce-payment,
#edit-buttons {
	background:$colorBlock;
	padding:4%;

	&:after {
		@extend .clear;
	}

	.form-item {
		
		&:after {
			@extend .clear;
		}

		label {
			clear:both;
			display:block;
		}
	}
}

.page-checkout.path-review .region-content {
	border-right:1px solid #a9a9a9;
	padding-right:40px;
}


#edit-commerce-payment .form-item-commerce-payment-payment-method {
	label,
	input {
		clear:none;
		float:left;
	}
}

.form-item-commerce-payment-payment-details-credit-card-code {
	background:url('../images/seCode.png') right 26px no-repeat;
	input[type="text"] {
		width:75%;
	}
}



div.addressfield-container-inline > div.form-item {
	float:none;
//	width:100%;
}

#customer-profile-billing-ajax-wrapper {
	clear:left;
}


























// form billing info
#edit-buttons {
	width:65%;
}

#edit-buttons,
.customer_profile_billing,
.customer_profile_shipping,
#edit-commerce-payment {
//	float:left;
	margin:0 auto;
	width:65%;

	legend {
		clear:both;
		float:left;
	}
}

#edit-commerce-payment {
	.form-item-commerce-payment-payment-method {
		display:none;
	}
}

.customer_profile_shipping {

	fieldset.form-wrapper.collapsed > legend {
		margin-bottom:0;
	}
}

#edit-commerce-payment,
#customer-profile-billing-ajax-wrapper {
	// border-right:1px solid #cacaca;
}

.region-content {


	.fieldset-wrapper {
		clear:both;
		margin:0 auto;
		max-width:330px;

		&:after {
			@extend .clear;
		}
	}
}

.commerce-credit-card-expiration {

	&:after {
		@extend .clear;
	}

	.commerce-month-year-divider,
	.form-item {
		clear:none;
		float:left;
		margin-bottom:0;
	}

	.commerce-month-year-divider {
		display:none;
	}

	.form-item-commerce-payment-payment-details-credit-card-exp-year {
		padding-top:25px;
	}

	.form-item-commerce-payment-payment-details-credit-card-exp-month,
	.form-item-commerce-payment-payment-details-credit-card-exp-year {
		width:100px;
	}
}












































/* jquery SB configs */
/* temporary selectbox styles */

// ------------------------------------------------------------------------------------------------------------------------------
// jquery.sb (jquery.sb may be replaced by native dropdown method)
// ------------------------------------------------------------------------------------------------------------------------------


.custom-select-menu label.opened {
	border-radius: 2px 2px 0 0;
	box-shadow: none;
}

.form-select,
.webform-component-select {
  position:relative;
  &.has_sb {
    position:absolute;
  }
}

// jquery.sb.js default css
.has_sb{position:absolute;left:-999999em;text-indent:-999999em;}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border:none;
}

.selectbox {
	display:inline-block;
  *display:inline;
  font-family:arial;
  font-size:1em;
  position:relative;
  vertical-align:middle;
  zoom:1;
  
  .display {
	  cursor:default;
	  display:block;
	  font-weight:normal;
	  line-height:1.46em;
	  outline:none;
	  position:relative;
	  text-decoration:none;
	  overflow:hidden;
		
		.arrow_btn {
	    display:block;
	    position:absolute;
	    right:0;
	    text-align:center;
	    top:0;

			.arrow {
		    display:inline-block;*display:inline;
		    position:absolute;
		    width:7px;
		    zoom:1;
			}
		}
	}
	.value{
		display:none;
	}

	// dropdown styles
	&.items {
	  display:block;
	  font-family:arial;
	  font-size:1em;
	  list-style-type:none;
	  margin:0;
	  overflow-x:hidden;
	  overflow-y:auto;
	  padding:0 0 1px 0;
	  z-index:99999;

		li {
			display:block;
			margin:0;
			padding:0;

			&.first {
				margin-top:0;
			}

			>	.item {
				color:#000;
				cursor:default;
				display:block;
				padding:3px 6px;
				text-decoration:none;
				>	.text {
					display:inline-block;
					*display:inline;zoom:1;
				}
			}
			
			&.disabled > .item {
				color:#999;
			}
		}

		.value{
			display:none;
		}
	}
}

// theme overrides
.sb.selectbox {
  z-index:1;
  
  &,
  .display {
   width:99% !important;
  }

  .display {
  	background:#d1d1d1;
  	float: none;
		margin-left: 0;
		margin-bottom:5px;
		text-align: left;
    height:40px;

    &:hover {
      cursor:pointer;
    }

    .text {
      float:left;
      line-height:40px;
      padding-left:20px;
    }

    .arrow_btn {
    	background:url('../images/arrow_down.png') 0 center no-repeat;
      border:0;
      float:right;
      margin-right:15px;
      width:14px;
      height:40px;
    }
  }
}

.display,
ul.selectbox.items {
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	// -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.08);
	// box-shadow: 0 1px 1px 0 rgba(0,0,0,.08);
	// -moz-box-sizing: border-box;
	// -webkit-box-sizing: border-box;
	// box-sizing: border-box;
	cursor: pointer;
}

// dropdown
ul.selectbox.items {
	background:#d1d1d1;
	border-radius: 0 0 2px 2px;
	list-style: none;
	margin: 0;
	height:200px !important;
	overflow-y: scroll;
	padding: 5px 0;
  width:100% !important;
  z-index:2;

  li {
    display:block;
  	margin: 0;
		padding: 5px 10px;
    
    &:hover,
    &.selected {
    	background:#b4b4b4;
    }

    .item {
      text-align:left;

      &:hover {
        cursor:pointer !important;
      }
    }
  }
}

#commerce-checkout-form-checkout .sb.selectbox .display {
	height:35px;
	.text {
		line-height:35px;
	}
	.arrow_btn {
		height:35px;
	}
}


