// // fitmoo vars

/* fonts */

@font-face {
  font-family: 'bentonsansblack';
  src: url('../fonts/bentonsans-black-webfont.eot');
  src: url('../fonts/bentonsans-black-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bentonsans-black-webfont.woff') format('woff'),
       url('../fonts/bentonsans-black-webfont.ttf') format('truetype'),
       url('../fonts/bentonsans-black-webfont.svg#bentonsansblack') format('svg');
  font-weight: normal; font-style: normal;}

@font-face {
  font-family: 'bentonsansbold';
  src: url('../fonts/bentonsans-bold-webfont.eot');
  src: url('../fonts/bentonsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bentonsans-bold-webfont.woff') format('woff'),
       url('../fonts/bentonsans-bold-webfont.ttf') format('truetype'),
       url('../fonts/bentonsans-bold-webfont.svg#bentonsansbold') format('svg');
  font-weight: normal; font-style: normal;}

@font-face {
  font-family: 'bentonsansbook';
  src: url('../fonts/bentonsans-book-webfont.eot');
  src: url('../fonts/bentonsans-book-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bentonsans-book-webfont.woff') format('woff'),
       url('../fonts/bentonsans-book-webfont.ttf') format('truetype'),
       url('../fonts/bentonsans-book-webfont.svg#bentonsansbook') format('svg');
  font-weight: normal; font-style: normal;}

@font-face {
  font-family: 'bentonsanslight';
  src: url('../fonts/bentonsans-light-webfont.eot');
  src: url('../fonts/bentonsans-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bentonsans-light-webfont.woff') format('woff'),
       url('../fonts/bentonsans-light-webfont.ttf') format('truetype'),
       url('../fonts/bentonsans-light-webfont.svg#bentonsanslight') format('svg');
  font-weight: normal; font-style: normal;}

@font-face {
  font-family: 'bentonsansmedium';
  src: url('../fonts/bentonsans-medium-webfont.eot');
  src: url('../fonts/bentonsans-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bentonsans-medium-webfont.woff') format('woff'),
       url('../fonts/bentonsans-medium-webfont.ttf') format('truetype'),
       url('../fonts/bentonsans-medium-webfont.svg#bentonsansmedium') format('svg');
  font-weight: normal; font-style: normal;}

@font-face {
  font-family: 'bentonsansregular';
  src: url('../fonts/bentonsans-regular-webfont.eot');
  src: url('../fonts/bentonsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bentonsans-regular-webfont.woff') format('woff'),
       url('../fonts/bentonsans-regular-webfont.ttf') format('truetype'),
       url('../fonts/bentonsans-regular-webfont.svg#bentonsansregular') format('svg');
  font-weight: normal; font-style: normal;}

@font-face {
  font-family: 'bentonsansextracondensed_bold';
  src: url('../fonts/bentonsanscomp-bold-webfont.eot');
  src: url('../fonts/bentonsanscomp-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bentonsanscomp-bold-webfont.woff') format('woff'),
       url('../fonts/bentonsanscomp-bold-webfont.ttf') format('truetype'),
       url('../fonts/bentonsanscomp-bold-webfont.svg#bentonsansextracondensed_bold') format('svg');
  font-weight: normal; font-style: normal;}

$bentonBlack:'bentonsansblack';
$bentonBold:'bentonsansbold';
$bentonBook:'bentonsansbook';
$bentonLite:'bentonsanslight';
$bentonMed:'bentonsansmedium';
$bentonReg:'bentonsansregular';
$bentonCoBold:'bentonsansextracondensed_bold';


$fontBlack:$bentonBlack;
$fontBold:$bentonBold;
$fontBook:$bentonBook;
$fontLite:$bentonLite;
$fontMed:$bentonMed;
$fontReg:$bentonReg;
$fontCoBold:$bentonCoBold;


$colorBlock:#f3f2f4;
